<!--
<script type="text/javascript" charset="utf-8" src="jquery-1.11.1.js"></script>
<script type="text/javascript" charset="utf-8" src="mojio-js.js"></script>
-->
<script>

var App, MojioClient, config, mojio_client; //moved to be global scope 
var isLoggedIn = false;
config = {
            application: '434f01ce-504b-4f72-a919-5a81dee7d506', // Fill in your app id here!
            redirect_uri: 'https://mojio.herokuapp.com/map', // Fill in you redirect uri here! (Ex. 'http://localhost:4093/index.html')
            hostname: 'api.moj.io',
            version: 'v1',
            port: '443',
            scheme: 'https',
            live: false // This will connect your app to the sandbox environment, change it to true to go live. 
        };
        mojio_client = new MojioClient(config);
       
    if (localStorage["mojio_token"] == null){
       console.log("localStorge not made yet, need to login");   
    }
    else{
    console.log("value of token is: " + localStorage["mojio_token"]);
    mojio_client.auth_token = JSON.parse(localStorage["mojio_token"]); //need to destring before passing in
    } 



if (mojio_client.isLoggedIn() == false){  //use this to test for login status
    console.log("checking for login token");
            mojio_client.token(function(error, result) {
                if (error) {
                   // alert("Authorize Redirect, token could not be retreived:" + error); //take out later 
                } else {
                  //  alert("Authorization Successful.");   //taken out for video demo
                    div = $("#welcome");
                    div.html('Authorization Result:');
                    div.append(JSON.stringify(result));
                    console.log(JSON.stringify(result));
                    localStorage["mojio_token"] = JSON.stringify(result);  //save the token into local storage

                }
            });
}
else if(mojio_client.isLoggedIn() == true){
   console.log("already logged in to Mojio");
}


function mojioLogin(){
 
    if (isLoggedIn == true){
        console.log("got into part 2 of mojioLogin");
            mojio_client.token(function(error, result) {
                if (error) {
                    alert("Authorize Redirect, token could not be retreived:" + error);
                } else {
                    alert("Authorization Successful.");
                    div = $("#welcome");
                    div.html('Authorization Result:');
                    div.append(JSON.stringify(result));
                    console.log(JSON.stringify(result))
                }
            });

    }
    else if (isLoggedIn == false){
            

     //alert("starting mojio configuration"); //taken out for video demo
        console.log("login status is:" + isLoggedIn);
        config = {
            application: '434f01ce-504b-4f72-a919-5a81dee7d506', // Fill in your app id here!
            redirect_uri: 'https://mojio.herokuapp.com/map', // Fill in you redirect uri here! (Ex. 'http://localhost:4093/index.html')
            //for running on localhost, need to start a local server first using an application!!!!!!
            hostname: 'api.moj.io',
            version: 'v1',
            port: '443',
            scheme: 'https',
            live: false // This will connect your app to the sandbox environment, change it to true to go live.
        };
        mojio_client = new MojioClient(config);


     //   alert("starting Mojio client connection"); //taken out for video demo
        isLoggedIn = true;
        mojio_client.authorize(config.redirect_uri);   
        console.log("login status after redirect is:" + isLoggedIn);



    }

}


function getVehicleData(){   //move this function to map page later  
    return mojio_client.get(mojio_client.model("Vehicle"), {}, function(error, result) {
        var i, lat, lng;
        lat = [];  //can pass these values directly to Google maps
        lng = [];
        i =0;
        $.each(result.Data, function(key, value) {
            if ((value.LastLocation != null) && (value.LastLocation.Lat != null) && (value.LastLocation.Lng != null)) {
                lat[i]= value.LastLocation.Lat;
                lng[i]= value.LastLocation.Lng;
                localStorage["latitude"] = value.LastLocation.Lat; //store long and lat into local storage
                localStorage["longitude"] = value.LastLocation.Lng;
                return i++;

            }


        });
        console.log("location of vehicle is: LAT:"+ localStorage["latitude"]+" " + "LONG:" +localStorage["longitude"]);
    //    console.log("location of vehicle is: LAT:"+ lat[1]+" " + "LONG:" +lng[1]);


    });

}

/*
buildMojioMap = function(mojioLat, mojioLng) {
    var map;
    map = new GMaps({
      el: '#map',
      lat: mojioLat, //these are values returned directly from Mojio using  lat[0], lng[0]
      lng: mojioLng,
      panControl: false,
      streetViewControl: false,
      mapTypeControl: false,
      overviewMapControl: false
    });
    return setTimeout(function() {
      return map.addMarker({
        lat: mojioLat,
        lng: mojioLng,
        animation: google.maps.Animation.DROP,
        draggable: false,
        title: 'Current Mojio Location'
      }, 1000);
    });
  };
*/

function mojioLogout (){

    localStorage.removeItem("mojio_token");
    localStorage.removeItem("longitude");
    localStorage.removeItem("latitude");
    isLoggedIn = false;
  //  console.log("log out redirrect URL is: "+ config.redirect_uri);
 //   mojio_client.unauthorize(config.redirect_uri);
    if (mojio_client.isLoggedIn() == false)
    console.log("Logged out of Mojio API");
    else console.log("still logged in to Mojio");
        console.log("localStoreage token is:" +  localStorage["mojio_token"]);
}


function showToken(){
    
    mojio_client.token(function(error, result) {
        if (error) {
           // alert(error); //taken out for video demo
        } else {
            alert("token retained successfully.");
            div = $("#welcome");
            div.html('Authorization Result:');
            div.append(JSON.stringify(result));
        }
    });
        console.log("value of token outside is: " + localStorage["mojio_token"]); 

}

function showTrip(){
    var Trip = mojio_client.model("Trip"); // Gets a trip model schema.
    mojio_client.get(Trip, {}, function(error, result) {
        var str = "";
        if (error) {
            console.log(error); // Some error occured.
        } else {
            var trips = mojio_client.getResults(Trip, result);  // Helper function to get the results.
            console.log(trips);
        }
    });


}


</script>
   <div class="container">    
       <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
           <div class="panel panel-info" >
                   <div class="panel-heading">
                        <div class ="text-center">
                       <div class="panel-title">Login</div>
                   </div>
                    </div>

                   <div style ="padding-top:30px" class = "panel-body">
                        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                            
                        <form id="loginform" class="form-horizontal" role="form">
                                    
                          <!--  <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input id="login-username" type="text" class="form-control" name="username" value="" placeholder="username or email">                                        
                                    </div>
                                
                            <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                        <input id="login-password" type="password" class="form-control" name="password" placeholder="password">
                                    </div> -->


                                 <div style="margin-top:10px" class="form-group">
                                    <!-- Button -->

                                    <div class = "text-center">
                                        <div class="col-sm-12 controls">
                                        <a id="btn-login" href="#" class="btn btn-success"  onclick="mojioLogin()" >Login to Mojio  </a>
                                        <a id="btn-logout" href="#" class="btn btn-danger" onclick="mojioLogout()">Logout</a>
                                        <a id="btn-vehicleData" href="#" class ="btn btn-info" onclick="getVehicleData()"> Vehicle Data</a>
                                        
                                        </div>
                                    </div>
                                </div> 

                            </div>

                        </div>
                    </div>
                </div>





<!--

<html>
    <head>
        <title>Login page</title>
    </head>
    <body class = "text-center">
        <h1>Simple Login Page</h1>
        <form name="login">
            <div class="row">Username: <input type="text" name="userid"/> </div>
            <div class"row" style="
    margin-top: 6px;">
            Password: <input type="password" name="pswrd"/> </div>
            <div class = "row" style="padding-top: 18px;">
            <input type="button" class="btn btn-danger" value="Login" onclick="mojioLogin()"> 
            <input type="button" class="btn btn-info" value="Vehicle Data" onclick="getVehicleData()">         
            <input type="button" class="btn btn-success" value="Show token" onclick="showToken()" />
            <input type="button" class="btn btn-danger " value ="Log Out" onclick="mojioLogout()" />
        </div>
        </form>
        <script language="javascript">
            function check(form) { /*function to check userid & password*/
                /*the following code checkes whether the entered userid and password are matching*/
                if(form.userid.value == "myuserid" && form.pswrd.value == "mypswrd") {
                   // window.open('target.html')/*opens the target page while Id & password matches*/
                }
                else {
                    alert("Error Password or Username")/*displays error message*/
                }
            }
        </script>

    <header>
    </header>
    <section>
    <div id="welcome"></div> 
    </section>
    <footer>
    </footer>
-->
  




    
    <!-- 
            <input type="button" onclick="check(this.form)" value="Login"/>
            <input type="button" value="Show token" onclick="showToken()">
            <input type="button" value="Show trip status" onclick="showTrip()">   
    worked with CND mojoi-js.js
     <script type="text/javascript" charset="utf-8" src="https://djaqzxyxnyyiy.cloudfront.net/mojio-js.js"></script>
    <script type="text/javascript" charset="utf-8" src="jquery.signalR-2.0.2.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="js/LoginTest.js"></script>
    -->
<!--
    <script>
    alert("starting mojio configuration");
    var App, MojioClient, config, mojio_client;
    config = {
        application: '434f01ce-504b-4f72-a919-5a81dee7d506', // Fill in your app id here!
        redirect_uri: 'https://mojio.herokuapp.com/map', // Fill in you redirect uri here! (Ex. 'http://localhost:4093/index.html')
        hostname: 'api.moj.io',
        version: 'v1',
        port: '443',
        scheme: 'https',
        live: false // This will connect your app to the sandbox environment, change it to true to go live.
    };
    mojio_client = new MojioClient(config)


    alert("starting Mojio client connection");
    mojio_client.authorize(config.redirect_uri);       
    </script>


    <script>
    mojio_client.token(function(error, result) {
        if (error) {
            alert("Authorize Redirect, token could not be retreived:" + error);
        } else {
            alert("Authorization Successful.");
            div = $("#welcome");
            div.html('Authorization Result:');
            div.append(JSON.stringify(result));
        }
    });
    </script>
   -->

    </body>
</html>

