<script>

var App, MojioClient, config, mojio_client; //moved to be global scope 
var isLoggedIn = false;
config = {
            application: '434f01ce-504b-4f72-a919-5a81dee7d506', // Fill in your app id here!
            redirect_uri: 'https://mojio.herokuapp.com/map', // Fill in you redirect uri here! (Ex. 'http://localhost:4093/index.html')
            hostname: 'api.moj.io',
            version: 'v1',
            port: '443',
            scheme: 'https',
            live: false // This will connect your app to the sandbox environment, change it to true to go live. 
        };
        mojio_client = new MojioClient(config);
       
    if (localStorage["mojio_token"] == null){
       console.log("localStorge not made yet, need to login");   
    }
    else{
    console.log("value of token is: " + localStorage["mojio_token"]);
    mojio_client.auth_token = JSON.parse(localStorage["mojio_token"]); //need to destring before passing in
    } 

if (mojio_client.isLoggedIn() == false){  //use this to test for login status
    console.log("checking for login token");
            mojio_client.token(function(error, result) {
                if (error) {
                   // alert("Authorize Redirect, token could not be retreived:" + error); //take out later 
                } else {
                  //  alert("Authorization Successful.");   //taken out for video demo
                    div = $("#welcome");
                    div.html('Authorization Result:');
                    div.append(JSON.stringify(result));
                    console.log(JSON.stringify(result));
                    localStorage["mojio_token"] = JSON.stringify(result);  //save the token into local storage

                }
            });
}
else if(mojio_client.isLoggedIn() == true){
   console.log("already logged in to Mojio");
}

function mojioLogin(){
 
    if (isLoggedIn == true){
        console.log("got into part 2 of mojioLogin");
            mojio_client.token(function(error, result) {
                if (error) {
                    alert("Authorize Redirect, token could not be retreived:" + error);
                } else {
                    alert("Authorization Successful.");
                    div = $("#welcome");
                    div.html('Authorization Result:');
                    div.append(JSON.stringify(result));
                    console.log(JSON.stringify(result))
                }
            });

    }
    else if (isLoggedIn == false){
            

     //alert("starting mojio configuration"); //taken out for video demo
        console.log("login status is:" + isLoggedIn);
        config = {
            application: '434f01ce-504b-4f72-a919-5a81dee7d506', // Fill in your app id here!
            redirect_uri: 'https://mojio.herokuapp.com/map', // Fill in you redirect uri here! (Ex. 'http://localhost:4093/index.html')
            //for running on localhost, need to start a local server first using an application!!!!!!
            hostname: 'api.moj.io',
            version: 'v1',
            port: '443',
            scheme: 'https',
            live: false // This will connect your app to the sandbox environment, change it to true to go live.
        };
        mojio_client = new MojioClient(config);


     //   alert("starting Mojio client connection"); //taken out for video demo
        isLoggedIn = true;
        mojio_client.authorize(config.redirect_uri);   
        console.log("login status after redirect is:" + isLoggedIn);
    }
}


function getVehicleData(){   //move this function to map page later  
    return mojio_client.get(mojio_client.model("Vehicle"), {}, function(error, result) {
        var i, lat, lng;
        lat = [];  //can pass these values directly to Google maps
        lng = [];
        i =0;
        $.each(result.Data, function(key, value) {
            if ((value.LastLocation != null) && (value.LastLocation.Lat != null) && (value.LastLocation.Lng != null)) {
                lat[i]= value.LastLocation.Lat;
                lng[i]= value.LastLocation.Lng;
                localStorage["latitude"] = value.LastLocation.Lat; //store long and lat into local storage
                localStorage["longitude"] = value.LastLocation.Lng;
                return i++;
            }
        });
        console.log("location of vehicle is: LAT:"+ localStorage["latitude"]+" " + "LONG:" +localStorage["longitude"]);
    //    console.log("location of vehicle is: LAT:"+ lat[1]+" " + "LONG:" +lng[1]);
    });
}

function mojioLogout (){

    localStorage.removeItem("mojio_token");
    localStorage.removeItem("longitude");
    localStorage.removeItem("latitude");
    isLoggedIn = false;
  //  console.log("log out redirrect URL is: "+ config.redirect_uri);
 //   mojio_client.unauthorize(config.redirect_uri);
    if (mojio_client.isLoggedIn() == false)
    console.log("Logged out of Mojio API");
    else console.log("still logged in to Mojio");
        console.log("localStoreage token is:" +  localStorage["mojio_token"]);
}

function showToken(){
    
    mojio_client.token(function(error, result) {
        if (error) {
           // alert(error); //taken out for video demo
        } else {
            alert("token retained successfully.");
            div = $("#welcome");
            div.html('Authorization Result:');
            div.append(JSON.stringify(result));
        }
    });
        console.log("value of token outside is: " + localStorage["mojio_token"]); 

}

function showTrip(){
    var Trip = mojio_client.model("Trip"); // Gets a trip model schema.
    mojio_client.get(Trip, {}, function(error, result) {
        var str = "";
        if (error) {
            console.log(error); // Some error occured.
        } else {
            var trips = mojio_client.getResults(Trip, result);  // Helper function to get the results.
            console.log(trips);
        }
    });
}



</script>
   
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <!-- Wrapper for Slides -->
  <div class="carousel-inner">
    <div class="item active">
      <!-- Set the first background image using inline CSS below. -->
      <div class="fill" style="background-image:url('http://www.magic4walls.com/wp-content/uploads/2013/12/city-wallpaper-1920x1200.jpg');"></div>
      <div class="carousel-caption">
        <h2>Caption 1</h2>
        <a id="btn-login" href="#" class="btn btn-success"  onclick="mojioLogin()" >Login to Mojio  </a>
      </div>
    </div>
    <div class="item">
      <!-- Set the second background image using inline CSS below. -->
      <div class="fill" style="background-image:url('http://www.hdwallpapers.in/walls/spectacular_dubai_city_view-wide.jpg');"></div>
      <div class="carousel-caption">
        <h2>Caption 2</h2>
        <a id="btn-login" href="#" class="btn btn-success"  onclick="mojioLogin()" >Login to Mojio  </a>
      </div>
    </div>
    <div class="item">
      <!-- Set the third background image using inline CSS below. -->
      <div class="fill" style="background-image:url('http://www.fullhdwpp.com/wp-content/uploads/City-Bridge_fullhdwpp.com_.jpg');"></div>
      <div class="carousel-caption">
        <h2>Caption 3</h2>
        <a id="btn-login" href="#" class="btn btn-success"  onclick="mojioLogin()" >Login to Mojio  </a>
      </div>
    </div>
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="icon-next"></span>
  </a>
</div>


    

