
<html>
    <head>
        <title>Login page</title>
    </head>
    <body>
        <h1>Simple Login Page</h1>
        <form name="login">
            Username<input type="text" name="userid"/>
            <br>
            Password<input type="password" name="pswrd"/> </br>
            <input type="button" onclick="check(this.form)" value="Login"/>
            <input type="reset" value="Cancel"/>
            <input type="button" value ="Sign up" />
        </form>
        <script language="javascript">
            function check(form) { /*function to check userid & password*/
                /*the following code checkes whether the entered userid and password are matching*/
                if(form.userid.value == "myuserid" && form.pswrd.value == "mypswrd") {
                   // window.open('target.html')/*opens the target page while Id & password matches*/
                }
                else {
                    alert("Error Password or Username")/*displays error message*/
                }
            }
        </script>

    <header>
    </header>
    <section>
    <div id="welcome"></div> 
    </section>
    <footer>
    </footer>

    <script>
    alert("starting Mojio client connection");
    mojio_client.authorize(config.redirect_uri);       
    </script>

    

    <script type="text/javascript" charset="utf-8" src="public/jquery-1.11.1.js"></script>
    <script type="text/javascript" charset="utf-8" src="jquery.signalR-2.0.2.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="public/mojio-js.js"></script>
    <script type="text/javascript" charset="utf-8" src="js/LoginTest.js"></script>

    
    </body>
</html>

