<script>
$(document).ready(function(){
    isLoggedIn = mojio_client.isLoggedIn();
    localStorage.removeItem("mojio_token");
    localStorage.removeItem("longitude");
    localStorage.removeItem("latitude");

    sessionStorage.removeItem("mojio_token");
    sessionStorage.removeItem("longitude");
    sessionStorage.removeItem("latitude");

    isLoggedIn = false;
}); 


    //redirectURL = 'https://mojio.herokuapp.com';
    //mojio_client = new MojioClient(config);
    //mojio_client.unauthorize(config.redirect_uri);
    

function mojioLogin(){
    if (isLoggedIn == true){
        console.log("got into part 2 of mojioLogin");
            mojio_client.token(function(error, result) {
                if (error) {
                    alert("Authorize Redirect, token could not be retreived:" + error);
                } else {
                    alert("Authorization Successful.");
                    div = $("#welcome");
                    div.html('Authorization Result:');
                    div.append(JSON.stringify(result));
                    console.log(JSON.stringify(result))
                }
            });
    }
    else if (isLoggedIn == false){           
        console.log("login status is:" + isLoggedIn);
        mojio_client.authorize(config.redirect_uri);   
    }
}


function mojioLogout (){

    localStorage.removeItem("mojio_token");
    localStorage.removeItem("longitude");
    localStorage.removeItem("latitude");
    isLoggedIn = false;
  //  console.log("log out redirrect URL is: "+ config.redirect_uri);
 //   mojio_client.unauthorize(config.redirect_uri);
    if (mojio_client.isLoggedIn() == false)
    console.log("Logged out of Mojio API");
    else console.log("still logged in to Mojio");
        console.log("localStoreage token is:" +  localStorage["mojio_token"]);
}

//not used right now
function showTrip(){
    var Trip = mojio_client.model("Trip"); // Gets a trip model schema.
    mojio_client.get(Trip, {}, function(error, result) {
        var str = "";
        if (error) {
            console.log(error); // Some error occured.
        } else {
            var trips = mojio_client.getResults(Trip, result);  // Helper function to get the results.
            console.log(trips);
        }
    });
}



</script>
   
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <!-- Wrapper for Slides -->
  <div class="carousel-inner">
    <div class="item active">
      <!-- Set the first background image using inline CSS below. -->
      <div class="fill" style="background-image:url('<%= asset_path 'Slide_1.jpg' %>');"></div>
      <div class="carousel-caption">
        <button type="button" id="video-link" class="btn btn-info btn-sm" style="margin:5px">Link to Video</button>
        <br>
        <button type="button" id="btn-login" class="btn btn-success btn-lg" onclick="mojioLogin()" >Login to Mojio</button>
      </div>
    </div>
    <div class="item">
      <!-- Set the second background image using inline CSS below. -->
      <div class="fill" style="background-image:url('<%= asset_path 'Slide_2.jpg' %>');"></div>
      <div class="carousel-caption">
        <button type="button" id="video-link" class="btn btn-info btn-sm" style="margin:5px">Link to Video</button>
        <br>
        <button type="button" id="btn-login" class="btn btn-success btn-lg" onclick="mojioLogin()" >Login to Mojio</button>
      </div>
    </div>
    <div class="item">
      <!-- Set the third background image using inline CSS below. -->
      <div class="fill" style="background-image:url('<%= asset_path 'Slide_3.jpg' %>');"></div>
      <div class="carousel-caption">
        <button type="button" id="video-link" class="btn btn-info btn-sm" style="margin:5px">Link to Video</button>
        <br>
        <button type="button" id="btn-login" class="btn btn-success btn-lg" onclick="mojioLogin()" >Login to Mojio</button>
      </div>
    </div>
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="icon-next"></span>
  </a>
</div>
    

