:javascript
  var App, MojioClient, config, mojio_client, Current_marker; //some variables needed to initialize data 
  var isLoggedIn = false;
  Current_marker = null;
  var count;
  var testLat = 49.25; 
  var testLong = -123.1;
  localStorage["correctFuelLevel"] = 55;  //random number to initialize, will be over written 

  var gasStationAddress= "7282 Knight St, Vancouver";
  var geocoder;
  var map;

  config = {
            application: '434f01ce-504b-4f72-a919-5a81dee7d506', // Fill in your app id here!
            redirect_uri: 'https://mojio.herokuapp.com/map', // Fill in you redirect uri here! (Ex. 'http://localhost:4093/index.html')
            hostname: 'api.moj.io',
            version: 'v1',
            port: '443',
            scheme: 'https',
            live: false // This will connect your app to the sandbox environment, change it to true to go live. 
        };
        mojio_client = new MojioClient(config);
       
    if (localStorage["mojio_token"] == null){
       console.log("localStorge not made yet, need to login");   
    }
    else{
    console.log("value of token is: " + localStorage["mojio_token"]);
    mojio_client.auth_token = JSON.parse(localStorage["mojio_token"]); //need to destring before passing in
    } 

  if (mojio_client.isLoggedIn() == false){  //use this to test for login status
      console.log("checking for login token");
              mojio_client.token(function(error, result) {
                  if (error) {
                      console.log(error);
                     // alert("Authorize Redirect, token could not be retreived:" + error); //take out later 
                  } else {
                    //  alert("Authorization Successful.");   //taken out for video demo
                      div = $("#welcome");
                      div.html('Authorization Result:');
                      div.append(JSON.stringify(result));
                      console.log(JSON.stringify(result));
                      localStorage["mojio_token"] = JSON.stringify(result);  //save the token into local storage
                      getVehicleData(); //update all long, lat and fuel level data on first load
                  }
              });
  }
  else if(mojio_client.isLoggedIn() == true){
     console.log("already logged in to Mojio");
  }
  

  function initialize() {
    geocoder = new google.maps.Geocoder();
    var latlng = new google.maps.LatLng(49.25, -123.100);
      var mapOptions = {
        zoom: 14,
        center: latlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
    map = new google.maps.Map(document.getElementById("map"), mapOptions);
    console.log("Latitude of car is: "+ localStorage["latitude"]);
    console.log("Latitude of car is: "+ localStorage["longitude"]);
    var Carlatlng = new google.maps.LatLng(localStorage["latitude"],localStorage["longitude"]);
    console.log("adding current location marker");
    var marker = new google.maps.Marker({
      position: Carlatlng,
      map: map,
      title: 'Current Location'
    });
    console.log("finished adding current location marker");
    //map.panTo( center); //center map on vancouver 
    //map.panTo(center);
    // directToGasStation();
    moveMarker(map, marker);
  }

  function moveMarker ( map, marker){    
  //delayed so you can see it move
      setInterval( function(){
      getVehicleData();
      correctFuelLevel(); 
   //   printVehicle_data(); //testing all returned outputs
      //testLat += 0.0001;
      //testLong += 0.0001;
      //center = new google.maps.LatLng(testLat, testLong); //only to test marker movement
      center = new google.maps.LatLng(localStorage["latitude"], localStorage["longitude"]);
      marker.setPosition( center );
      map.panTo( center );
      console.log("marker position updated"); 

      }, 1500 );  //update every 1.5 sec
  };

  function correctFuelLevel(){
      
      if (localStorage["fuellevel"] == 0){
          localStorage["correctFuelLevel"] = localStorage["correctFuelLevel"]; //need to put in last known value non zero value of fuel level 
      }
      else //non zero fuel level
        localStorage["correctFuelLevel"] = localStorage["fuellevel"]; //update to corrected fuel level
      console.log("Last FuelLevel is: "+ localStorage["correctFuelLevel"]);
  }

  /* 
  function directToGasStation (){
    geocoder.geocode( { 'address': gasStationAddress }, function(results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
        //  map.setCenter(results[0].geometry.location);
        console.log(results[0].geometry.location);
        console.log("marker for gas station");
          var marker = new google.maps.Marker({
              map: map,
              position: results[0].geometry.location
          });
        } else {
          alert("Geocode was not successful for the following reason: " + status);
        }
      });
  }
  */

  function autoUpdate() {

    getVehicleData();  //updates the value of localStorage["latitude"], localStorage["longitude"]
    var newPoint = new google.maps.LatLng(localStorage["latitude"], localStorage["longitude"]);
    var latlng = new google.maps.LatLng(49.25, -123.100);  //vancouver location 
    /* old code
    var newPoint = new google.maps.LatLng(localStorage["latitude"], localStorage["longitude"]);
    var latlng = new google.maps.LatLng(49.25, -123.100);
    */
    var mapOptions = {
      zoom: 12,
      center: newPoint,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };

    var map =  new google.maps.Map(document.getElementById("map"), mapOptions); //new declartinon may be causing refreshing

    if (Current_marker != null ) {
      // Marker already created - Move it
      Current_marker.setPosition(newPoint);  //somehow marker disappear on 2nd autoUpdate call???????????
      console.log("current marker updated");
    }
    
    else {
      // Marker does not exist - Create it
      console.log("creating first location marker");
      Current_marker = new google.maps.Marker({
        position: newPoint,
        map: map,
        title: 'Current Location'
      });
    }
    
    // To add the marker to the map, call setMap(); can use use last parameter of map to display the marker
    //marker.setMap(map);

    // Center the map on the new position
   // map.setCenter(newPoint);
    // Call the autoUpdate() function every 1 seconds
    //console.log("timer has expired, runnning autoupdate")  
    //setTimeout(autoUpdate, 1000); //want to change this to setInterval 
    console.log("END of autoUpdate");
  }


  function getVehicleData(){   //move this function to map page later  
    return mojio_client.get(mojio_client.model("Vehicle"), {}, function(error, result) {
        var i, lat, lng, fuellevel;
        lat = [];  //can pass these values directly to Google maps
        lng = [];
        i =0;
        fuellevel = 0;
        $.each(result.Data, function(key, value) {
            if ((value.LastLocation != null) && (value.LastLocation.Lat != null) && (value.LastLocation.Lng != null)) {
                lat[i]= value.LastLocation.Lat;
                lng[i]= value.LastLocation.Lng;
                fuellevel = value.FuelLevel;
                //lastodometer = value.LastOdometer;
                //console.log("odometer is: "+ lastodometer);

                localStorage["latitude"] = value.LastLocation.Lat; //store long and lat into local storage
                localStorage["longitude"] = value.LastLocation.Lng;
                localStorage["fuellevel"] = value.FuelLevel;  //displays 0 when mojio device isnt connected to network
                return i++;

            }

        });
        

        console.log("location of vehicle is: LAT:"+ localStorage["latitude"]+" " + "LONG:" +localStorage["longitude"]);
        console.log("Fuel level of car: "+ localStorage["fuellevel"]);
    });
  }

  function printVehicle_data() {
    var Vehicle = mojio_client.model("Vehicle"); // Gets a trip model schema.
    mojio_client.get(Vehicle, {}, function(error, result) {
        var str = "";
        if (error) {
            console.log(error); // Some error occured.
        } else {
            var vehicle = mojio_client.getResults(Vehicle, result);  // Helper function to get the results.
            console.log(vehicle);
        }
    });

  }

  function timeoutTest () {
    console.log("GOT INTO timeoutTest");
    setTimeout(timeoutTest, 1500); //rerun every 1.5 seconds
  }

 
  //var myVar = setInterval(function () {myTimer()}, 3000); //enable this to call repeating function(ie: AutoUpdate() function)  

  function myTimer() {
    //var d = new Date();
    //document.getElementById("demo").innerHTML = d.toLocaleTimeString();
    console.log("inside timer function");
    autoUpdate();
  }

  google.maps.event.addDomListener(window, "load", initialize);

  
  jQuery(function ($) {
    $(document).on('click', 'label[id^="regular"]', function(event) {
        alert("regular");
    });
  });
  
  jQuery(function ($) {
    $(document).on('click', 'label[id^="midGrade"]', function(event) {
        alert("midGrade");
    });
  });
  
  jQuery(function ($) {
    $(document).on('click', 'label[id^="premium"]', function(event) {
        alert("premium");
    });
  });
  
  jQuery(function ($) {
    $(document).on('click', 'label[id^="diesel"]', function(event) {
        alert("diesel");
    });
  });
  
  jQuery(function ($) {
    $(document).on('click', 'label[id^="range_1"]', function(event) {
        alert("1");
    });
  });
  
  jQuery(function ($) {
    $(document).on('click', 'label[id^="range_2"]', function(event) {
        alert("2");
    });
  });
  
  jQuery(function ($) {
    $(document).on('click', 'label[id^="range_5"]', function(event) {
        alert("5");
    });
  });
  
  jQuery(function ($) {
    $(document).on('click', 'label[id^="range_0"]', function(event) {
        alert("10");
    });
  });
.container-fluid
  %h1 Map
  #map
  %p
    Fuel level:
    %b#fuel unknown
    :javascript
      /*<![CDATA[*/document.getElementById("fuel").innerHTML = localStorage["correctFuelLevel"];/*]]>*/

  
  #accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
  .panel.panel-default.col-md-3
    #headingOne.panel-heading{:role => "tab"}
      %h4.panel-title
        %a.collapsed{"aria-controls" => "collapseOne", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOne"}
          Find Closest Station
    #collapseOne.panel-collapse.collapse{"aria-labelledby" => "headingOne", :role => "tabpanel"}
      .panel-body
        Preference:
        
        
  .panel.panel-default.col-md-3.col-md-offset-1
    #headingTwo.panel-heading{:role => "tab"}
      %h4.panel-title
        %a.collapsed{"aria-controls" => "collapseTwo", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseTwo"}
          Find Cheapest Station
    #collapseTwo.panel-collapse.collapse{"aria-labelledby" => "headingTwo", :role => "tabpanel"}
      .panel-body
        %h4 Preference:
        %h5 Fuel Type:
        .btn{"data-toggle" => "buttons"}
          %label#regular.btn.btn-primary
            %input#regular{:autocomplete => "off", :checked => "checked", :name => "options", :type => "radio"}/
            Regular
          %label#midGrade.btn.btn-primary
            %input#midGrade{:autocomplete => "off", :name => "options", :type => "radio"}/
            Mid-Grade
          %label#premium.btn.btn-primary
            %input#premium{:autocomplete => "off", :name => "options", :type => "radio"}/
            Premium
          %label#diesel.btn.btn-primary
            %input#diesel{:autocomplete => "off", :name => "options", :type => "radio"}/
            Diesel
        %h5 Search Range (km):
        .btn{"data-toggle" => "buttons"}
          %label#range_1.btn.btn-primary
            %input#range_1{:autocomplete => "off", :checked => "checked", :name => "options", :type => "radio"}/
            1
          %label#range_2.btn.btn-primary
            %input#range_2{:autocomplete => "off", :name => "options", :type => "radio"}/
            2
          %label#range_5.btn.btn-primary
            %input#range_5{:autocomplete => "off", :name => "options", :type => "radio"}/
            5
          %label#range_0.btn.btn-primary
            %input#range_0{:autocomplete => "off", :name => "options", :type => "radio"}/
            10 
        .btn-group{"aria-label" => "...", :role => "group"}
          %button.btn.btn-default{:type => "button"} Search
        
  .panel.panel-default.col-md-3.col-md-offset-1
    #headingThree.panel-heading{:role => "tab"}
      %h4.panel-title
        %a.collapsed{"aria-controls" => "collapseThree", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseThree"}
          Route
    #collapseThree.panel-collapse.collapse{"aria-labelledby" => "headingThree", :role => "tabpanel"}
      .panel-body
        Third

  
