:javascript
  function initialize() {
    var latlng = new google.maps.LatLng(49.25, -123.100);
      var mapOptions = {
        zoom: 12,
        center: latlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
    var map = new google.maps.Map(document.getElementById("map"), mapOptions);
    console.log("Latitude of car is: "+ localStorage["latitude"]);
    console.log("Latitude of car is: "+ localStorage["longitude"]);
    var Carlatlng = new google.maps.LatLng(localStorage["latitude"],localStorage["longitude"]);
    console.log("adding current location marker");
    var marker = new google.maps.Marker({
      position: Carlatlng,
      map: map,
      title: 'Current Location'
    });
    console.log("finished adding current location marker");
  }

  function do_somthing () {
    console.log("Longitude of car is: "+ localStorage["longitude"]);
    console.log("Latitude of car is: "+ localStorage["latitude"]);
  }

  function autoUpdate() {

    getVehicleData();
    var newPoint = new google.maps.LatLng(localStorage["latitude"], localStorage["longitude"]);

    if (marker) {
      // Marker already created - Move it
      marker.setPosition(newPoint);
    }
    else {
      // Marker does not exist - Create it
      marker = new google.maps.Marker({
        position: newPoint,
        map: map,
        title: 'Current Location'
      });
    }

    // Center the map on the new position
    map.setCenter(newPoint);
  }); 

  // Call the autoUpdate() function every 1 seconds
  setTimeout(autoUpdate, 1000);
  }

  function getVehicleData(){   //move this function to map page later  
    return mojio_client.get(mojio_client.model("Vehicle"), {}, function(error, result) {
        var i, lat, lng;
        lat = [];  //can pass these values directly to Google maps
        lng = [];
        i =0;
        $.each(result.Data, function(key, value) {
            if ((value.LastLocation != null) && (value.LastLocation.Lat != null) && (value.LastLocation.Lng != null)) {
                lat[i]= value.LastLocation.Lat;
                lng[i]= value.LastLocation.Lng;
                localStorage["latitude"] = value.LastLocation.Lat; //store long and lat into local storage
                localStorage["longitude"] = value.LastLocation.Lng;
                return i++;

            }


        });
        console.log("location of vehicle is: LAT:"+ localStorage["latitude"]+" " + "LONG:" +localStorage["longitude"]);
    //    console.log("location of vehicle is: LAT:"+ lat[1]+" " + "LONG:" +lng[1]);


    });

  }


  google.maps.event.addDomListener(window, "load", initialize);
  autoUpdate();
  

  
.container-fluid
  %h1 Map
  #map
  %p Vehicle Location: 

  
  #accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
  .panel.panel-default.col-md-3
    #headingOne.panel-heading{:role => "tab"}
      %h4.panel-title
        %a.collapsed{"aria-controls" => "collapseOne", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOne"}
          Find Closest Station
    #collapseOne.panel-collapse.collapse{"aria-labelledby" => "headingOne", :role => "tabpanel"}
      .panel-body
        Preference:
        .dropdown
          %button#dLabel{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
            Fuel Brand
            %span.caret
          %ul.dropdown-menu{"aria-labelledby" => "dLabel", :role => "menu"}
            %li
              %a{:href => "#"} Esso
            %li
              %a{:href => "#"} Petro Canada
        
  .panel.panel-default.col-md-3.col-md-offset-1
    #headingTwo.panel-heading{:role => "tab"}
      %h4.panel-title
        %a.collapsed{"aria-controls" => "collapseTwo", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseTwo"}
          Find Cheapest Station
    #collapseTwo.panel-collapse.collapse{"aria-labelledby" => "headingTwo", :role => "tabpanel"}
      .panel-body
        %h4 Preference:
        .dropdown
          %button#dLabel{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
            Fuel Grade
            %span.caret
          %ul.dropdown-menu{"aria-labelledby" => "dLabel", :role => "menu"}
            %li
              %a{:href => "#"} Regular
            %li
              %a{:href => "#"} Mid Grade
            %li
              %a{:href => "#"} Premium
            %li
              %a{:href => "#"} Diesel
        %br/      
        %form
          Search Range:
          %input{:name => "range", :type => "number"}/
          km
        %br/  
        .btn-group{"aria-label" => "...", :role => "group"}
          %button.btn.btn-default{:type => "button"} Search
        
  .panel.panel-default.col-md-3.col-md-offset-1
    #headingThree.panel-heading{:role => "tab"}
      %h4.panel-title
        %a.collapsed{"aria-controls" => "collapseThree", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseThree"}
          Route
    #collapseThree.panel-collapse.collapse{"aria-labelledby" => "headingThree", :role => "tabpanel"}
      .panel-body
        Third