<!DOCTYPE html>
<html>
<head>
  <title>Mojio Cheap Gas</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body style= "background-image: url(https://www.moj.io/wp-content/uploads/mojio_spiderweb_bkg.jpg);">
<%= image_tag("3dDoge.gif", :alt => "Doge") %>
<%= yield %>

</body>
</html>
